@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document

domain("facebook.com"),
domain("soundcloud.com"),
domain("twitter.com"),
domain("youtube.com"),

domain("1101.com"),
domain("12kai.com"),
domain("20ch.net"),
domain("2ch-library.com"),
domain("2ch.net"),
domain("2ch.sc"),
domain("2chan.net"),
domain("2chblog.jp"),
domain("2chcopipe.com"),
domain("320kbpshouse.net"),
domain("4u-beautyimg.com"),
domain("7-premium.com"),
domain("a-beach.net"),
domain("a-hadaka.jp"),
domain("acidpanda.com"),
domain("actiongirls.com"),
domain("adf.ly"),
domain("afterhourz.jp"),
domain("age2.tv"),
domain("aichun.co"),
domain("air-nifty.com"),
domain("akahoshitakuya.com"),
domain("akiba-online.com"),
/*
domain("akiba-pc.watch.impress.co.jp"),
*/
domain("akinator.com"),
domain("alfalfalfa.com"),
/*
domain("amazon.co.jp"),
domain("amazonaws.com"),
*/
domain("ameba.jp"),
domain("ameblo.jp"),
domain("anicole.net"),
domain("animeshi.net"),
domain("anyap.info"),
domain("aquadress.com"),
domain("areya.in"),
domain("artemisweb.jp"),
domain("as-u-like.net"),
domain("asa.tv"),
domain("ask.fm"),
domain("athletefan.com"),
domain("atura.jp"),
domain("auctions.search.yahoo.co.jp"),
domain("auctions.yahoo.co.jp"),
domain("avi.jp"),
domain("ayacnews2nd.com"),
domain("b-idol.com"),
domain("baiku-sokuho.info"),
domain("ban-be.jp"),
domain("bbspink.com"),
domain("be-at.tv"),
domain("beatport.com"),
domain("benri-tool.net"),
domain("biglobe.ne.jp"),
domain("bikinistokyo.com"),
domain("bipblog.com"),
domain("blog.jp"),
domain("blog.goo.ne.jp"),
domain("blogimg.jp"),
domain("blogs.yahoo.co.jp"),
domain("blogspot.com"),
domain("blogspot.jp"),
domain("bodyconscious.com"),
domain("bokete.jp"),
domain("bookmeter.com"),
domain("bookoffonline.co.jp"),
domain("brazilianbikinishop.com"),
domain("btmon.com"),
domain("burusoku-vip.com"),
domain("chaos2ch.com"),
domain("chiebukuro.yahoo.co.jp"),
domain("cinetri.jp"),
domain("cisco-records.co.jp"),
domain("clubberia.com"),
domain("cocolog-nifty.com"),
domain("comicartcommunity.com"),
domain("convert2mp3.net"),
domain("coocan.jp"),
domain("cooklog.net"),
domain("coolrom.com"),
domain("coqdo.com"),
domain("crowdworks.jp"),
domain("crosscross.jp"),
domain("curse.jp"),
domain("cyberpirate.me"),
domain("dailymotion.com"),
domain("dawnfun.com"),
domain("deadball.biz"),
domain("desktop2ch.info"),
domain("diamond.jp"),
domain("diary.ne.jp"),
domain("digimart.net"),
domain("digital-ark-shop.com"),
domain("digital-ark.com"),
domain("dip.jp"),
domain("disco-girl.com"),
domain("discogs.com"),
domain("diskunion.net"),
domain("dlmangabk.info"),
domain("dmm.co.jp"),
domain("dmm.com"),
domain("dmr.co.jp"),
domain("dommune.com"),
domain("doorblog.jp"),
domain("doperoms.com"),
domain("dotup.org"),
domain("downmagaz.com"),
domain("dropular.net"),
domain("dtiblog.com"),
domain("e-hentai.org"),
domain("electrobuzz.fm"),
domain("elog-ch.com"),
domain("elog-ch.net"),
domain("empflix.com"),
domain("emu-russia.net"),
domain("en-japan.com"),
domain("epikal.com"),
domain("ero-kawa.com"),
domain("eroch8.com"),
domain("eromazofu.com"),
domain("eropunyu.com"),
domain("eroterest.net"),
domain("esuteru.com"),
domain("evernote.com"),
domain("exblog.jp"),
domain("excite.co.jp"),
domain("favolog.org"),
domain("favotter.net"),
domain("favstar.fm"),
domain("fbcdn.net"),
domain("fc2.com"),
domain("feedly.com"),
domain("fesse-lover.com"),
domain("fileserve.com"),
domain("filesonic.com"),
domain("final4ever.net"),
domain("find-job.net"),
domain("finesoul.net"),
domain("flakerecords.com"),
domain("flickr.com"),
domain("flirtcatalog.com"),
domain("funkmysoul.gr"),
domain("forum.com.bz"),
domain("fpaccs.com"),
domain("fpabd.com"),
domain("freedl.org"),
domain("freemixdownloads.com"),
domain("freemuzichka.com"),
domain("freestyleonline.net"),
domain("freshremix.ru"),
domain("freshremix.org"),
domain("freett.com"),
domain("friendfeed.com"),
domain("fukuchannel.net"),
domain("funkysouls.com"),
domain("fuzoku.jp"),
domain("g5u.pw"),
domain("gachinco.com"),
domain("gakinko.net"),
domain("gamemuseum.jp"),
domain("gendai.net"),
domain("gazo-ch.net"),
domain("gazounabi.com"),
domain("geocities.jp"),
domain("gigacrate.com"),
domain("gigazine.net"),
domain("glamdolls.com"),
domain("globalnoises.org"),
/*
domain("gmail.com"),
*/
domain("gnavi.co.jp"),
domain("go-to-hell.jp"),
domain("groups.google.com"),
domain("gundailing.com"),
domain("gyao.jp"),
domain("h4610.com"),
domain("hamusoku.com"),
domain("hapitas.jp"),
domain("hardsextube.com"),
domain("hardwax.com"),
domain("haruka-yumenoato.net"),
domain("hashdb.com"),
domain("hateblo.jp"),
domain("hatelabo.jp"),
domain("hatena.ne.jp"),
domain("heypo.net"),
domain("himasoku.com"),
domain("hip-fetish.com"),
domain("hiroburo.com"),
domain("hirunomi-fans.com"),
domain("hisakawa.net"),
domain("hmv.co.jp"),
domain("hootsuite.com"),
domain("horror2.jp"),
domain("hot-kuma-vip.net"),
domain("hotfile.com"),
domain("hotporndl.com"),
domain("houselegend.com"),
domain("hulu.jp"),
domain("i-maniax.com"),
domain("iflyer.tv"),
domain("ihatovo.org"),
domain("iheartbucks.com"),
domain("imgbako.com"),	
domain("imgur.com"),	
domain("imege.me"),
domain("imepic.jp"),	
domain("instagr.am"),
domain("instagram.com"),
domain("iphonech.com"),
domain("irokoi.com"),
domain("isohunt.com"),
domain("israbox.co"),
domain("israbox.com"),
domain("israbox.eu"),
domain("israbox.net"),
domain("israbox.me"),
domain("israbox.org"),
domain("itabashi-huzoku.com"),
domain("itaishinja.com"),
domain("iza-yoi.net"),	
domain("j-comi.jp"),
domain("japanesejunction.com"),
domain("japanesesale.com"),
domain("japanesevideogirls.com"),
domain("japav.net"),
domain("jav5.info"),
domain("jdownloader2premium.com"),
domain("jerog.com"),
domain("jetsetrecords.net"),
domain("jin115.com"),
domain("jjgirls.com"),
domain("jns-grp.net"),
domain("jpddl.com"),
domain("jpdf4share.com"),
domain("jpfiles.eu"),
domain("jpmediablog.com"),
domain("jpn.org"),
domain("juno.co.uk"),
domain("junodownload.com"),	
domain("kaimonokun.com"),
domain("kakaku.com"),
domain("kentjapan.com"),
domain("kicksrecords.com"),
domain("kir.jp"),
domain("koee.net"),
domain("kyoueifeti.jp"),
domain("labaq.com"),
domain("lancers.jp"),
domain("lastfm.jp"),
domain("ldblog.jp"),
domain("letitbit.net"),
domain("link.tl"),
domain("livedoor.biz"),
domain("livedoor.jp"),
domain("livejournal.com"),
domain("log-channel.net"),
domain("logmein.com"),
domain("logsoku.com"),
domain("lovestube.com"),
domain("m-fuzoku.jp"),
domain("machbeat.com"),
domain("mamesoku.com"),
domain("manga-zip.net"),
domain("manga-zone.org"),
domain("mangazips.blog.jp"),
domain("manhattanrecords.jp"),
domain("matchy.net"),
domain("maxing.jp"),
domain("megaporn.com"),
domain("megaupload.com"),
domain("megavideo.com"),
domain("meiwasuisan.com"),
domain("mhometheater.com"),
domain("mimizun.com"),
domain("mine.nu"),
domain("minimalfreaks.com"),
domain("minimalfreaks.pw"),
domain("minimalistica.org"),
domain("minkch.com"),
domain("miomio.tv"),
domain("mixcloud.com"),
domain("mixi.jp"),
domain("miyearnzzlabo.com"),
/*
domain("mizuhobank.co.jp"),
*/
domain("mmjp.or.jp"),
domain("modelmayhem.com"),
domain("modernnomad.net"),
domain("momi3.net"),
domain("moovyz.net"),
domain("movatwi.jp"),
domain("msx.org"),
domain("mushuxp.com"),
domain("my.jdownloader.org"),
domain("myspace.com"),
domain("myvi.ru"),
domain("n-knuckles.com"),
domain("natalie.mu"),
domain("naver.jp"),
domain("nazoo.org"),
domain("ne-ta.com"),
domain("newspickup.com"),
domain("newtou.info"),
domain("next33.com"),
domain("niceboat.org"),
domain("nicovideo.jp"),
domain("night24.com"),
domain("nikkan-spa.jp"),
domain("nsfworld.com"),
domain("ntrmoe.com"),
domain("nyaa.eu"),
domain("nyaa.se"),
domain("oboom.com"),
domain("okkisokuho.com"),
domain("ore.to"),
domain("oron.com"),
domain("otachidai.net"),
domain("otona-times.com"),
domain("ouo.io"),
domain("outdoorfoodgathering.jp"),
domain("p2.2ch.net"),
domain("pandora.tv"),
domain("pandoravote.net"),
domain("pasocomclub.co.jp"),
domain("petite-coquette.co.uk"),
domain("photobucket.com"),
domain("pia.co.jp"),
domain("pico2culture.jp"),
domain("picsis.tv"),
domain("pinknotora.net"),
domain("pinsalo.info"),
domain("pioneerdj.com"),
domain("pixiv.net"),
domain("pl-loader.net"),
domain("plala.or.jp"),
domain("plex.tv"),
domain("plixid.com"),
domain("plus.google.com"),
domain("po-kaki-to.com"),
domain("pornhub.com"),
domain("portal.nifty.com"),
domain("premium-place.co"),
domain("prettydaily.com"),
domain("promise.co.jp"),
domain("promane-mail.com"),
domain("pussycalor.com"),
domain("r3z4prof.co.cc"),
domain("rakuten.co.jp"),
domain("raw-zip.com"),
domain("rawcs.net"),
domain("rawjmb.com"),
domain("razooma.net"),
domain("read2ch.com"),
domain("redtube.com"),
domain("regularcraft.shop-pro.jp"),
domain("retty.me"),
domain("rikunabi.com"),
domain("rikunabi-next.yahoo.co.jp"),
domain("ruru2.net"),
domain("rutracker.org"),
domain("sakura.ne.jp"),
domain("sankakucomplex.com"),
domain("sapo.pt"),
domain("sarashi.com"),
domain("sbs-blog.com"),
domain("seanet.ne.jp"),
domain("secret.jp"),
domain("seesaa.net"),
domain("seesaawiki.jp"),	
domain("shanai-se.jp"),
domain("shanbara.jp"),
domain("shanimuni.net"),
domain("share-links.biz"),
domain("sharedmusic.net"),
domain("shecool.jp"),
domain("shindanmaker.com"),
domain("shitaraba.net"),
domain("shopdd.jp"),
domain("sijex.net"),
domain("slutload.com"),
/*
domain("smbc.co.jp"),
*/
domain("snowland.net"),
domain("sokuana.com"),
domain("soundfinder.jp"),
domain("stereo-records.com"),
domain("stradarecords.com"),
domain("straightline.jp"),
domain("sumomo-ch.com"),
domain("sumotorrent.com"),
domain("supleks.jp"),
domain("tabelog.com"),
domain("tajigen.com"),
domain("taschen.com"),
domain("tbsradio.jp"),
domain("technique.co.jp"),
domain("techno-minimal.com"),
domain("tg-ryodan.com"),
domain("theinterviews.jp"),
domain("thisav.com"),	
domain("tknr.com"),
domain("tnaflix.com"),
domain("togetter.com"),
domain("tok2.com"),
domain("torrents.ru"),
domain("traxsource.com"),
domain("tsite.jp"),
domain("tsutaya.co.jp"),
domain("tube8.com"),
domain("tumblr.com"),
domain("tweetvite.com"),
domain("twipla.jp"),
domain("twipple.jp"),
domain("twitpic.com"),
domain("twoo.com"),
domain("uccard.co.jp"),
domain("uplod.it"),
domain("uploading.com"),
domain("uploda.in"),
domain("upup.be"),
domain("ura-ne-ta.com"),
domain("usagifrask.com"),
domain("ustream.tv"),
domain("value-server.com"),
/*
domain("valueserver.jp"),	
*/
domain("vector.co.jp"),
domain("veoh.com"),
domain("vid-dl.net"),
domain("vimeo.com"),
domain("vine.co"),
domain("viploader.net"),
domain("vippers.jp"),
domain("vk.com"),
domain("w-ki.com"),
domain("wassr.jp"),
domain("wday.ru"),
domain("websta.me"),
domain("web.stagram.com"),
domain("weheartit.com"),
domain("whosampled.com"),
domain("whotwi.com"),
domain("wikipedia.org"),
domain("wordpress.com"),
domain("writerzlab.com"),
domain("wwjav.com"),
domain("xhamster.com"),
domain("xii.jp"),
domain("xvideos.com"),
domain("xxxblog.jp"),
domain("y-bbs.net"),
domain("yabusame.tv"),
domain("yblog.jp"),
domain("yellowcouch.org"),
domain("yomiji.com"),
domain("youjizz.com"),
domain("yourfilehost.com"),
domain("yourfilehostwmv.com"),
domain("yourfileplayer.com"),
domain("ytimg.com"),
domain("zaeega.com"),
domain("zakzak.co.jp"),
domain("zazamushi.net"),
domain("zombie.jp"),
domain("zero-city.com"),
domain("zona-musical.com"),
domain("zoome.jp"),
domain("zulinetta.com"),
/*
domain("mail.google.com"),
*/
domain("userstyles.org"){

body {background:#FFFFFF!important;
	color: #555555 !important;
	font-size: small !important;
	font-weight: normal !important;
	font-family: "Meiryo UI", "MS Gothic", sans-serif !important;
	opacity: 1 !important;
}

font {
	color: #555555 !important;
	font-size: small !important;
	font-weight: normal !important;
	font-family: "Meiryo UI", "MS Gothic", sans-serif !important;
	opacity: 1 !important;
}

b, strong {
	color: #666666 !important;
	font-size: small !important;
	font-family: "Meiryo UI", "MS Gothic", sans-serif !important;
	opacity: 1 !important;
}

a:link, a:visited, a:active {
	padding: 0 2px !important;
	text-decoration: none !important;
	color: #777777 !important;
	background: #FFFFFF !important;
	border: none !important;
	font-size: small !important;
	opacity: 1 !important;
}

a:hover {
	padding: 0 2px !important;
	color: #777777 !important;
	text-decoration: underline !important;
	background: #FFFFFF !important;
	border-bottom: 0.5px solid #CCCCCC !important;
	font-size: small !important;
	opacity: 1 !important;
}

address, table, th, tr, td {
	background: #FFFFFF !important;
	border: none !important;
	font-size: small !important;
	opacity: 1 !important;
}

div, span, p, dl, dt, dd, ul, li, h1, h2, h3, h4 {
	text-decoration: none !important;
	color: #555555 !important;
	background: #FFFFFF !important;
	border: none !important;
	font-size: small !important;
	opacity: 1 !important;
}

img, object, embed, iframe, input[type="image"], input[type="submit"] {
	opacity: 0.03 !important;
}

img:hover, object:hover, embed:hover, iframe:hover, input[type="image"]:hover, input[type="submit"]:hover {
	opacity: 0.3 !important;
}

header {
	background: #FFFFFF !important;
	color: #555555 !important;
	font-size: small !important;
	font-weight: normal !important;
	font-family: "Meiryo UI", "MS Gothic", sans-serif !important;
	opacity: 1 !important;
}

footer {
	background: #FFFFFF !important;
	color: #555555 !important;
	font-size: small !important;
	font-weight: normal !important;
	font-family: "Meiryo UI", "MS Gothic", sans-serif !important;
	opacity: 1 !important;
}
}
